<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.SourceMapper">


    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.modular.film.vo.SourceInfo">
        <id column="UUID" property="sourceId" javaType="Integer"/>
        <result column="show_name" property="sourceName" javaType="String"/>
        <result column="is_Active" property="isActive" javaType="Boolean"/>
    </resultMap>

    <select id="getAllSourceInfo"  resultMap="BaseResultMap">
        SELECT UUID,show_name,is_Active FROM mtime_source_dict_t
    </select>

    <select id="getOneSourceInfo" parameterType="Integer" resultMap="BaseResultMap">
        SELECT UUID,show_name,is_Active FROM mtime_source_dict_t where UUID = #{UUID}
    </select>

</mapper>