<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.YearMapper">


    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.modular.film.vo.YearInfo">
        <id column="UUID" property="yearId" />
        <result column="show_name" property="yearName" />
        <result column="is_Active" property="isActive" />
    </resultMap>

    <select id="getAllYearInfo"  resultMap="BaseResultMap">
        SELECT UUID,show_name,is_Active FROM mtime_year_dict_t
    </select>

    <select id="getOneYearInfo" parameterType="Integer" resultMap="BaseResultMap">
        SELECT UUID,show_name,is_Active FROM mtime_year_dict_t where UUID = #{UUID}
    </select>

</mapper>