<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.OrderMapper">

    <select id="getOrderPriceByOid" resultType="Double">
        select order_price from mooc_order_t where UUID = #{oid}
    </select>
</mapper>